In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('games.csv')
df.columns

Index(['date', 'home_team', 'away_team', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA',
       'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH',
       'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [62]:
df = df[['date', 'home_team', 'away_team', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 
        'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 
        'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A']]

In [63]:
df

,date,home_team,away_team,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,2014-08-16,Arsenal,Crystal Palace,2,1,H,1,1,D,J Moss,...,19,9,3,2,2,0,1,1.25,6.50,15.0
1,2014-08-16,Leicester City,Everton,2,2,D,1,2,A,M Jones,...,10,3,6,1,1,0,0,3.20,3.40,2.4
2,2014-08-16,Manchester United,Swansea City,1,2,A,0,1,A,M Dean,...,20,4,0,2,4,0,0,1.36,5.00,11.0
3,2014-08-16,QPR,Hull City,0,1,A,0,0,D,C Pawson,...,10,8,9,1,2,0,0,2.50,3.30,3.1
4,2014-08-16,Stoke City,Aston Villa,0,1,A,0,0,D,A Taylor,...,9,2,8,0,3,0,0,1.95,3.50,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2019-05-12,Liverpool,Wolves,2,0,H,1,0,H,M Atkinson,...,11,4,1,0,2,0,0,1.30,6.00,11.0
1896,2019-05-12,Manchester United,Cardiff,0,2,A,0,1,A,J Moss,...,6,11,2,3,3,0,0,1.28,6.50,11.0
1897,2019-05-12,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,6,4,3,0,1,0,0,1.44,4.75,8.5
1898,2019-05-12,Tottenham Hotspur,Everton,2,2,D,1,0,H,A Marriner,...,13,7,4,0,2,0,0,2.20,3.50,3.5
1899,2019-05-12,Watford,West Ham United,1,4,A,0,2,A,C Kavanagh,...,10,7,2,1,0,1,0,2.25,3.75,3.2