In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('games.csv')
df.columns

Index(['date', 'home_team', 'away_team', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA',
       'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH',
       'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

In [13]:
df = df[['date', 'home_team', 'away_team', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 
        'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 
        'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A']]

In [14]:
df.columns

Index(['date', 'home_team', 'away_team', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC',
       'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A'],
      dtype='object')

### The dataset contain data from all games in the English Premier League from 2014 to 2019 which mean 5 different seasons. The dataset have 25 columns.

- **date** : Match Date 

- **home_team** : Refers to the team that is playing the match or game on their own home ground or home stadium.

- **away_team** : Refers to the team that is playing the match or game on the opponent's home ground or away from their own home stadium.

- **FTHG** : Full-Time Home Goals

- **FTAG** : Full-Time Away Goals

- **FTR** : Full-Time Result
    - "H" or "1": Indicates that the home team has won the match.

    - "A" or "2": Indicates that the away team has won the match.
    
    - "D" or "X": Indicates that the match ended in a draw or tie.
    
- **HTHG** : represents the number of goals scored by the home team during the first half of the match.

- **HTAG** : represents the number of goals scored by the away team during the first half of the match.

- **HTR** : It represents the outcome or result of a match at half-time, specifically after the first half of play.

    - "H" or "1": Indicates that the home team is leading at half-time.

    - "A" or "2": Indicates that the away team is leading at half-time.

    - "D" or "X": Indicates that the match is tied at half-time.

- **Referee** : Match Referee

- **HS** : It represents the total number of shots taken by the home team during the entire duration of the match.

- **AS** : It represents the total number of shots taken by the away team during the entire duration of the match.

- **HST** : It represents the number of shots taken by the home team that are on target and have a higher probability of resulting in a goal.

- **AST** : It represents the number of shots taken by the away team that are on target and have a higher probability of resulting in a goal.

- **HF** :  It represents the number of fouls committed by the home team during the entire duration of the match.

- **AF** :  It represents the number of fouls committed by the away team during the entire duration of the match.

- **HC** : It represents the number of corner kicks awarded to the home team during the entire duration of the match.

- **AC** : It represents the number of corner kicks awarded to the away team during the entire duration of the match.

- **HY** : It represents the number of yellow cards given to players of the home team during the entire duration of the match.

- **AY** : It represents the number of yellow cards given to players of the away team during the entire duration of the match.

- **HR** : It represents the number of red cards given to players of the home team during the entire duration of the match.

- **AR** : It represents the number of red cards given to players of the away team during the entire duration of the match.

- **B365H** : 
    - Refers to the odds offered for a home team win by the bookmaker Bet365 in the context of football betting. It represents the betting odds for the home team's victory in a particular match.

    - The higher the "B365H" odds, the lower the perceived probability of the home team winning according to the bookmaker's assessment.

- **B365D** : 
    - Refers to the odds offered for a draw by the bookmaker Bet365 in the context of football betting. It represents the betting odds for the match ending in a draw or tie.

    - The higher the "B365D" odds, the lower the perceived probability of a draw according to the bookmaker's assessment.

- **B365A** : 
    - Refers to the odds offered for a away team win by the bookmaker Bet365 in the context of football betting. It represents the betting odds for the away team's victory in a particular match.

    - The higher the "B365A" odds, the lower the perceived probability of the away team winning according to the bookmaker's assessment.

In [15]:
df

,date,home_team,away_team,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,2014-08-16,Arsenal,Crystal Palace,2,1,H,1,1,D,J Moss,...,19,9,3,2,2,0,1,1.25,6.50,15.0
1,2014-08-16,Leicester City,Everton,2,2,D,1,2,A,M Jones,...,10,3,6,1,1,0,0,3.20,3.40,2.4
2,2014-08-16,Manchester United,Swansea City,1,2,A,0,1,A,M Dean,...,20,4,0,2,4,0,0,1.36,5.00,11.0
3,2014-08-16,QPR,Hull City,0,1,A,0,0,D,C Pawson,...,10,8,9,1,2,0,0,2.50,3.30,3.1
4,2014-08-16,Stoke City,Aston Villa,0,1,A,0,0,D,A Taylor,...,9,2,8,0,3,0,0,1.95,3.50,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2019-05-12,Liverpool,Wolves,2,0,H,1,0,H,M Atkinson,...,11,4,1,0,2,0,0,1.30,6.00,11.0
1896,2019-05-12,Manchester United,Cardiff,0,2,A,0,1,A,J Moss,...,6,11,2,3,3,0,0,1.28,6.50,11.0
1897,2019-05-12,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,6,4,3,0,1,0,0,1.44,4.75,8.5
1898,2019-05-12,Tottenham Hotspur,Everton,2,2,D,1,0,H,A Marriner,...,13,7,4,0,2,0,0,2.20,3.50,3.5
1899,2019-05-12,Watford,West Ham United,1,4,A,0,2,A,C Kavanagh,...,10,7,2,1,0,1,0,2.25,3.75,3.2

In [90]:
all_teams = list(set(df['home_team']))
#all_teams

### Football questions

- Which team has the highest average number of goals per game when playing at home?

In [93]:
# SOLUTION
highest_average = 0
the_team = ""

for team in all_teams:
    team_average = np.mean(df[df['home_team'] == team]["FTHG"])
    if team_average > highest_average:
        highest_average = team_average
        the_team = team
    
print(f'{the_team} has the highest average with {highest_average}')

Manchester City has the highest average with 2.5894736842105264

- Which team has the highest average number of goals per game when playing away?

In [95]:
# SOLUTION
highest_average = 0
the_team = ""

for team in all_teams:
    team_average = np.mean(df[df['away_team'] == team]["FTAG"])
    if team_average > highest_average:
        highest_average = team_average
        the_team = team
    
print(f'{the_team} has the highest average with {highest_average}')

Manchester City has the highest average with 1.9894736842105263

- Which team has the biggest difference in its average home and away goals scored?

In [96]:
# SOLUTION
biggest_difference = 0
the_team = ""

for team in all_teams:
    home_team_average = np.mean(df[df['home_team'] == team]["FTHG"])
    away_team_average = np.mean(df[df['away_team'] == team]["FTAG"])
    
    the_difference = abs(home_team_average - away_team_average)

    if the_difference > biggest_difference:
        biggest_difference = the_difference
        the_team = team
    
print(f'{the_team} has the highest average with {biggest_difference}')

Norwich has the highest average with 0.6842105263157895

#### First task is to set new df for each season but with different columns. The column will be :
- **TEAM** : Team name

- **MP** : Number of matches played

- **W**  : Number of wins

- **D**  : Number of draws

- **L**  : Number of losses

- **GF** : It represents the number of goals scored by a team

- **GA** : It represents the number of goals conceded by a team

- **GD** : Goal Difference (GF - GA)

- **YC** : Totall Yellow Cards

- **RC** : Totall Red Cards

- **PTs**: Team Points

In [16]:
# Check The number of seasons in the df
df["date"]

0       2014-08-16
1       2014-08-16
2       2014-08-16
3       2014-08-16
4       2014-08-16
           ...
1895    2019-05-12
1896    2019-05-12
1897    2019-05-12
1898    2019-05-12
1899    2019-05-12
Name: date, Length: 1900, dtype: object

In [17]:
# Convert the "date" column to datetime type
df["date"] = pd.to_datetime(df["date"])

# Extract the year from each date
x = df["date"].dt.year

# Get unique years
x.unique()

array([2014, 2015, 2016, 2017, 2018, 2019])

##### Six years mean 5 seasons and each season have 380 matches.
- 2014/2015 season
    - df [ : 380]
- 2015/2016 season
    - df [380 : 760]
- 2016/2017 season
    - df [760 : 1140]
- 2017/2018 season
    - df [1140 : 1530]
- 2018/2019 season
    - df [1530 : ]

In [74]:
def create_season_table(df):
    counter = {}
    for i in range(len(df)):
        match_data = df.iloc[i]
        home_team_name = match_data["home_team"]
        away_team_name = match_data["away_team"]
        
        if home_team_name not in counter:
            counter[home_team_name] = {
                "MP": 0,
                "W": 0,
                "D": 0,
                "L": 0,
                "PTs": 0,
                "GF": 0,
                "GA": 0,
                "GD": 0,
                "YC": 0,
                "RC": 0
            }

        if away_team_name not in counter:
            counter[away_team_name] = {
                "MP": 0,
                "W": 0,
                "D": 0,
                "L": 0,
                "PTs": 0,
                "GF": 0,
                "GA": 0,
                "GD": 0,
                "YC": 0,
                "RC": 0
            }

        counter[home_team_name]["MP"] += 1
        counter[away_team_name]["MP"] += 1

        if match_data["FTR"] == "H":
            counter[home_team_name]["W"] += 1
            counter[home_team_name]["PTs"] += 3
            counter[away_team_name]["L"] += 1

        elif match_data["FTR"] == "A":
            counter[home_team_name]["L"] += 1
            counter[away_team_name]["W"] += 1
            counter[away_team_name]["PTs"] += 3

        else:  # Draw
            counter[home_team_name]["D"] += 1
            counter[away_team_name]["D"] += 1
            counter[home_team_name]["PTs"] += 1
            counter[away_team_name]["PTs"] += 1

        counter[home_team_name]["GF"] += match_data["FTHG"]
        counter[home_team_name]["GA"] += match_data["FTAG"]
        counter[away_team_name]["GF"] += match_data["FTAG"]
        counter[away_team_name]["GA"] += match_data["FTHG"]

        counter[home_team_name]["YC"] += match_data["HY"]
        counter[home_team_name]["RC"] += match_data["HR"]
        counter[away_team_name]["YC"] += match_data["AY"]
        counter[away_team_name]["RC"] += match_data["AR"]

        counter[home_team_name]["GD"] = counter[home_team_name]["GF"] - counter[home_team_name]["GA"] 
        counter[away_team_name]["GD"] = counter[away_team_name]["GF"] - counter[away_team_name]["GA"]

    # Convert the counter to a DataFrame
    new_df = pd.DataFrame.from_dict(counter, orient="index")
    new_df = new_df.sort_values("PTs", ascending=False)

    return new_df

In [75]:
season_14_15 = create_season_table(df[:380])
season_15_16 = create_season_table(df[380:760])
season_16_17 = create_season_table(df[760:1140])
season_17_18 = create_season_table(df[1140:1530])
season_18_19 = create_season_table(df[1530:])

In [76]:
season_18_19

                   MP   W   D   L  PTs  GF  GA  GD  YC  RC
Manchester City    37  31   2   4   95  93  23  70  42   1
Liverpool          37  29   7   1   94  85  22  63  36   2
Arsenal            37  21   7   9   70  73  49  24  70   2
Chelsea            37  20   9   8   69  60  39  21  48   0
Tottenham Hotspur  37  22   2  13   68  65  38  27  54   3
Manchester United  37  18   9  10   63  63  53  10  71   4
Wolves             37  16   8  13   56  45  44   1  72   1
Everton            37  15   8  14   53  52  44   8  54   3
West Ham United    37  15   7  15   52  52  51   1  57   1
Leicester City     37  15   7  15   52  50  46   4  56   5
Watford            37  13   8  16   47  50  59  -9  75   4
Crystal Palace     37  13   7  17   46  49  53  -4  56   2
Newcastle          37  12   9  16   45  41  46  -5  55   2
AFC Bournemouth    37  12   6  19   42  54  70 -16  59   1
Burnley            37  11   6  20   39  45  68 -23  74   1
Southampton        37   9  11  17   38  45  65 -20  71   3
Brighton           37   9   9  19   36  35  58 -23  58   4
Cardiff            37  10   4  23   34  34  67 -33  64   1
Fulham             37   7   5  25   26  34  79 -45  67   2
Huddersfield       37   3   7  27   16  22  73 -51  53   4